<!DOCTYPE html>
<html>
  <head>
    <title>Retos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <header class="ui container">
        <div class="ui secondary pointing huge menu">
          <a href="/" class="header item" id='users_active'>Desafios Agua</a>
          <%= link_to 'Mis Datos', dashboard_show_path, id: 'dashboard_active', class: 'item' %>
          <%= link_to 'Desafios', challenges_path, id: 'challenges_active', class: 'item' %>
          <div class="right menu">
            <%= link_to 'Cerrar Sesión', sessions_path, method: :delete, class: 'item' %>
          </div>
        </div>
      </header>
    <% end %>
    <section>
      <%= yield %>
    </section>
    <footer>

    </footer>
    <%= insert_paloma_hook %>
  </body>
</html>
